.dashContainer {
  margin-top: 45px;
  width: 75% !important;
}

.dashRow {
/*  background: #cfcfcf;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4);*/
/*  border-radius: 10px;
  padding: 0 5px;*/
  margin: 75px 0;
}

.list-overflow-container {
  max-height: 545px;
  border: 1px #DDDDDD solid;
  /*border-radius: 4px;*/
  overflow-y: scroll;
  overflow-x: hidden;
}

.list-overflow-container ul {
  margin: 0;
}

.list-overflow-container li {
  border-radius: 0px;
  border-left: none;
  border-right: none;
}

.list-overflow-container li * {
  cursor: pointer;
}

.list-overflow-container li a {
  color: #2A878C;
}

.list-overflow-container li:first-child {
  border-top: none;
}

.list-overflow-container li:last-child {
  border-bottom: none;
}

.logoH1Dash {
    font-family: 'Wendy One', sans-serif;
    text-decoration: none;
    padding: 0;
    margin: -15px 0 0;
    font-size: 80px;
    text-shadow: 2px 5px 8px rgba(0, 0, 0, 0.56);
    display: inline-block;
}

.siteLogoDash {
    width: 100px;
    margin-top: 40px;
    vertical-align: bottom;
}

.loggedIn{
  font-family: 'Wendy One', sans-serif;
  width:150px;
  height:80px;
  float:right;
  position:absolute;
  right:0;
  top:0;
}

.side-nav .user-view .background, .side-nav .userView .background {
  height: 225px;
  border: 1px #2e2e3c solid;
}

.background img {
  width: 300px;
  height: 420px;
  /*margin-left: -3px;*/
  margin-top: -13px;
}

#popup-collapse {
  margin-top: 191px;
}

#my-side-nav {
  background-color: #2e2e3c;
}

#my-side-nav li {
  border: none;
}

.userView {
  height: 32px;
}


/* Bounce To Right (Ian Lunn, Hover.css)*/
.collapsible-header {
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  /*box-shadow: 0 0 1px transparent;*/
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.collapsible-header:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ef6c00;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 1.0s;
  transition-duration: 1.0s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.collapsible-header:hover, .collapsible-header:focus, .collapsible-header:active {
  color: white;
  background-color: #515664;
}
.collapsible-header:hover:before, .collapsible-header:focus:before, .collapsible-header:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

@media screen and (max-width: 600px){
  .logoH1Dash {
    font-size: 60px;
  }

  .mainContainer{
    width:80%;
  }
}

@media screen and (max-width: 500px){
  .logoH1Dash {
    font-size: 40px;
  }

  .siteLogoDash {
    display: block;
    margin: 10px auto;
  }
}
