.friendPCardLvl {
    font-family: "arial";
    position: relative;
    /*right: -115px;*/
    /*top: -56px;*/
    font-size: 20px;
    z-index: 1;
    color: black;
}

.friendPCardTextDiv {
    margin-top: -10px;
    background-color: #a9a9d9;
}

.friendPCard {
 width: 100px;
}

