.headerLogo {
    margin: auto;
    width: 275px;
}

.logoH1Header {
    font-family: 'Wendy One', sans-serif;
    text-decoration: none;
    padding: 0;
    margin: -15px 0 0;
    font-size: 40px;
    text-shadow: 2px 5px 8px rgba(0, 0, 0, 0.56);
    display: inline-block;
}

nav {
    background: #3c466a;
    position: fixed;
}

.siteLogoHeader {
    width: 50px;
    margin-top: 40px;
    vertical-align: bottom;
}