.horizontal-scroll-gallery {
  background-color: #838ca6;
  overflow-y: hidden;
  overflow-x: scroll;
  max-height: 163px;
  min-width: 0px;
  white-space: nowrap;
  border-radius: 5px;
  box-shadow: 5px 4px 3px 3px #6e768b inset
}

.scroll-gallery-row {
  background-color: red;
}